/*defalut styles==========================================================================================*/
* { 
    margin:0;                                       
    padding:0;
    box-sizing: border-box;
}
.wrap {
    width:100%;
    max-width: 1438px;
    min-width: 370px;
    margin:0 auto;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    
}
h1{
    font-family: Bebas Neue;
    letter-spacing: 5.70937px;
    font-size: calc(1rem + 2.46vw);
    color: #FFFFFF;
}
.logo{
    display: flex;
    align-items: baseline;
    font-family: Bebas Neue;
    color: #FFFFFF;
    margin:0 auto;
    font-size:29px;
    text-transform: uppercase;
}
.logo-triangle{
    width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 8px solid  #00A4E5;
	border-bottom: 10px solid transparent;
}
.link{
    font-weight: 600;
    font-size: 12px;
    color: rgba(72, 85, 91, 1);
    text-decoration: none;
}
.link:hover{
    font-weight: 700;
    color: #00A4E5;  
}
li{
    list-style-type: none;
}

.header__nav{
    display: flex;
}


h3{
    font-size: 18px;
    font-weight: 700;
    color: #48555B;    
}
p{
    font-weight: 400;
    font-size: 13px;
    color: #48555B;

}
button{
    max-width: 150px;
    width: 10.43vw;
    min-width: 108px;
    height: 40px;
    border: none;
    background-color: #00A4E5;
    color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: open Sans;
}
a{
    text-decoration: none;
}
/*defalut styles==========================================================================================*/

.header__nav{
    display: flex;
}
.header__list{
    display: flex;
}
.header__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/background/bg.jpg) no-repeat center;
    height: 768px;
    padding-top: 42px;
}
.header__logo{
    margin-bottom: 318px;
}
.header__subtitle{
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-bottom: 221px;
}
.header__link{
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.7px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__wrapper{
    padding: 0 17.39% 0 17.39%;
    text-align: center;
}
.main__nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.menu__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width: 262px
}
.main__logo{
    margin:0;
    color: black;
}
.menu__item{
    font-size: 12px;
    font-weight:600;
    color: #48555B;
    outline: none;
}
.hamburger-menu{
    width: 30%;
}
.menu__box{
    width: 100%;
}
.menu__item:hover{
    font-weight: 700;
    font-size: 12px;
    color: #00A4E5;

}
#menu__toggle {
    opacity: 0;
    position: absolute;
  }
.main__nav{
    height: 60px;
    margin-bottom: 57px;
}
.main__thumbnail{
    font-weight: 700;
    font-size: 18px;
    color: #48555B;
    margin: 0 auto 92px auto;
}
.main__thumbnail::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    right: 0;
    margin: 10px auto 0;
    display: block;
  }
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 119px;
}
.about__tabs{
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 51%;
    max-width: 450px;
    text-align: left;
}
.tab__left{
    background: url(../img/style/block-left.jpg)no-repeat;
    width: 140px;
   height: 224px;
    padding: 14px 0 0 15px;
}
.tab__center{
    background: url(../img/style/block-centr.jpg)no-repeat;
    width: 140px;
    height: 224px;
    padding: 14px 0 0 15px;
}
.tab__right{
    background: url(../img/style/block-right.jpg)no-repeat;
    width: 140px;
    height: 224px;
    padding: 14px 0 0 15px;
}
.about__text{
    flex: 1;
    width: 44%;
    min-width: 350px;
    max-width: 405px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0.1875px;
    line-height: 23px;
}
.about__thumbnail{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    margin-bottom: 30px;

}
.tabs__thumbnail{
    font-weight: 900;
    font-style: normal;
    line-height: 29px;
    font-size: 24px;
    letter-spacing: 0.1875px;
    color: white;
}
.services__head{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 76px;
}
.services__thumbnail{
    flex: 1;
    min-width: 154px;
    font-weight: 700;
    font-size: 18px;
    color: #48555B;
    text-align: left;
}
.services__thumbnail::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    right: 0;
    margin: 10px 0;
    display: block;
}
.services__description{
    flex: 2;
    min-width: 361px;
}
.services__button{
    flex: 1;
    min-width: 108px;
}
.services__body{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 115px;
}
.services__tab{
    flex: 1;
    max-width: 295px;
    height: 330px;
    padding: 38px 22px 39px 23px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    text-align: left;
}
.services__img--left{
    background:url(../img/style/left-tab.jpg) no-repeat center;
    width: 65px;
    height: 75px;
    margin-bottom: 25px;
}
.services__img--center{
    background: url(../img/style/center-tab.jpg)no-repeat center;
    width: 65px;
    height: 75px;
    margin-bottom: 25px;
}
.services__img--right{
    background: url(../img/style/left-tab.jpg)no-repeat center;
    width: 65px;
    height: 75px;
    margin-bottom: 25px;
}
.services__title{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.426667px;
    margin-bottom: 13px;
    color: rgba(72, 85, 91, 1);
}
.touch__head{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/background/bg-bottom.jpg) no-repeat center;
    height: 498px;
    padding-top: 120px;
}
.touch__thumbnail{
    font-family: 'Open sans';
    font-weight: 700;
    font-size: calc(1rem + 1vw);
    letter-spacing: 0.15px;
    text-align: center;
    color:rgba(72, 85, 91, 1);
    max-width: 350px;
    margin-bottom: 35px;
}
.touch__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 100px;
    min-width: 376px;
    padding: 0 377px 0 378px;

}
.touch___thumbnail{
    font-weight: 700;
    font-size: 22px;
    color: white;
}
.form-input{
    width: 250px;
    height: 40px;
    border: 1px solid #979797;
    padding: 11px 0 10px 16px;
}
input[type="submit"]{
    max-width: 150px;
    width: 10.43vw;
    min-width: 108px;
    height: 40px;
    border: none;
    background-color: #00A4E5;
    color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: Open Sans;
}
.footer__head{
    display: flex;
    flex-direction: column;
    background-color:  #141A20;
    padding:42px 276px 0 249px;
    min-width: 379px;
}
.footer__title{
    display: flex;

}
.footer__links{
    display: flex;
    justify-content: space-between;
}
.Footer__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   width: 76px;
   height: 140px;

}
.footer__link-text{
    font-weight:400;
    font-size: 11px;
    color: white;
    margin-bottom: 15px;
}
.footer__list-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 150px;
    text-align: left;
}
.footer__link{
    font-weight: 600;
    font-size: 11px;
    color: white;
    letter-spacing: 0.846154px;
}
.footer__company{
    width: 250px;
    text-align: left;
}
.footer__thumbnail{
    color: white;
    margin-bottom: 20px;
}
.footer__logo{
    margin-bottom: 16px;
}
.footer__description{
    color: white;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    width: 29%;
}
.footer__faq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
}
.footer__blog{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    
    
}
.footer__contact-text{
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.846154px;
    color: white;
    margin-bottom: 10px;

}
.footer__contact-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 141px;
    height: 128px;
}
.footer__item{
    font-family: Open sans;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.846154px;
    color: white;
}
.footer__social{
    display: flex;
    justify-content: space-around;
    width: 85px;
}
.footer__item-social--facebook{
    height: 12px;
    width: 12px;
    background: url(../img/logo/facebook.png) no-repeat center;
     filter: brightness(0) invert(1);
}
.footer__item-social--twitter{
    height: 12px;
    width: 12px;
    background: url(../img/logo/twitter.png) no-repeat center;
     filter: brightness(0) invert(1);
}
.footer__item-social--google{
    height: 12px;
    width: 12px;
    background: url(../img/logo/google.png) no-repeat center;
    filter: brightness(0) invert(1);
}
.contact-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 114%;
}
.social__link{
    display: block;
    height: 12px;
    width: 12px;
}
.footer__bottom{
    
    min-width: 379px;
    height: 60px;
    padding: 22px 0 23px 0;
    text-align: center;
    background-color: #171819;
    
}
.footer__botom-adress{
font-weight: 400;
font-size: 11px;
color: white;
letter-spacing: 0.846154px;
}
@media (max-width: 1160px){
    .footer__head{
        padding: 0 5px;
    }
    .Footer__list{
        display: none;
    }
    .touch__body{
        padding: 0 5px;
    }
    .touch___thumbnail{
        margin: 0 auto;
    }
    .touch__form{
        margin: 0 auto;
    }
    .hamburger-menu{
        position: absolute;
    }
    .main__nav{
        justify-content: center;
        align-items: center;
    }
    /* скрываем чекбокс */
    #menu__toggle {
      opacity: 0;
    }
    /* стилизуем кнопку */
    .menu__btn {
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center;  /* центрируем содержимое кнопки */
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #00A4E5;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    /* элементы меню */
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    }
    .main__wrapper{
        width: 100%;
        /* padding: 0 5px;  */
        margin: 0 auto;
    }
    .about__tabs{
        margin: 0 auto;
    }
    .services__tab{
        min-width: 320px;
    }
    .services__thumbnail{
       text-align: center;
    }
    .services__thumbnail::after{
        margin: 10px auto 0;
    }
    .services__description{
        margin-bottom: 10px;
    }
    .services__button{
        margin: 0 auto;

    }
    .services__tab{
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }
    .services__img--left{
        margin: 25px auto;
    }
    .services__img--center{
    margin: 25px auto;
       
    }
    .services__img--right{
        margin: 25px auto;
    }
}
